

@model ProjetoFlavio.Models.ViewModelClienteEndereco

<style>
    .teste {
        width: 1027px;
        height: 219px;
        border: thin solid;
        padding: 5px;
        border-radius: 10px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
        color: black;
    }

    .div_produtos {
        display: block;
        float: left;
        width: 650px;
        padding-left: 8px;
    }

    .div_carimboEsquerda {
        display: block;
        float: left;
        width: 260px;
        padding-left: 8px;
    }
    .div_assinaturaDireita {
        display: block;
        float: left;
        width: 200px;
    }

    .div_inforamções {
        display: inline-block;
    }

    .div_direita {
        display: block;
        float: left;
        width: 200px;
    }
</style>



<div class="page-title">
    <div class="title_left">
        <h3>Gera Laudo</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Dados do Laudo <small>different form elements</small></h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                @using (Html.BeginForm("Salvar", "Clientes", FormMethod.Post, new { @class = "form-horizontal form-label-left", id = "demo-form2" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="control-label  col-sm-2 col-xs-12">Selecione o Cliente</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="listaClientes" class="form-control">
                                @foreach (var c in ViewBag.ListaClientes)
                                {
                                    <option value="@c.ClienteId">@c.Nome</option>
                                }
                            </select>
                        </div>
                    </div>


                    <hr />
                    <br />
                    <br />
                    <div id="laudo" style="color: black">
                        <img class="teste" src="~/Content/img/top.png" />
                        <br />
                        <br />

                        <div id="dadosPessoais">
                            <table style="width: 100%; line-height: 10px;">
                                <tr>
                                    <td colspan="3">Cliente: </td>
                                </tr>
                                <tr>
                                    <td colspan="3">End:</td>

                                </tr>
                                <tr>
                                    <td>Bairro: </td>
                                    <td>Cep: </td>
                                    <td>    </td>
                                </tr>
                                <tr>
                                    <td>CNPJ: </td>
                                    <td></td>
                                    <td>TEL:    </td>
                                </tr>

                            </table>
                        </div>
                        <p></p>
                        <!-- &nbsp;&nbsp;-->
                        <div class="div_produtos">
                            <strong><label id="colocaTipoLaudo"><u> LAUDO TÉCNICO - </u></label></strong>
                            <br />
                            <label><u>Produtos Usados:</u></label>
                            <br />
                            <p>
                                DEMAND 10 CS.......................................................................................... Reg. MS 3.0119.6627 <input type="checkbox" value="DEMAND" class="adicionarProdutos" /><br />
                                OPTIGARD LT............................................................................................. Reg. MS 3.0119.6837.001-7 <input type="checkbox" value="OPTIGARD LT" class="adicionarProdutos" /><br />
                                OPTIGARD BARAA GEL............................................................................ Reg. MS 3.348.0004.001-6 <input type="checkbox" value="OPTIGARD BARAA GEL" class="adicionarProdutos" /><br />
                                OPTIGARD FORMIGA GEL....................................................................... Reg. MS 3.0119.6645.001-0 <input type="checkbox" value="OPTIGARD FORMIGA GEL" class="adicionarProdutos" /><br />
                                RATICIDA KLERAT BLOCO....................................................................... Reg. MS 3.0119.0024 <input type="checkbox" value="RATICIDA KLERAT BLOCO" class="adicionarProdutos" /><br />
                                RATICIDA KLERAT PALLETS.................................................................... Reg. MS 3.0119.6636 <input type="checkbox" value="RATICIDA KLERAT PALLETS" class="adicionarProdutos" /><br />
                                ICON 5 CE.................................................................................................. Reg MS 3.0119.0014 <input type="checkbox" value="ICON 5 CE" class="adicionarProdutos" /><br />
                                ICON 10 PM................................................................................................ Reg. MS 3.0119.6632 <input type="checkbox" value="ICON 10 PM" class="adicionarProdutos" />
                            </p>

                            <strong>
                                <p>
                                    &nbsp; TEL. PARA EMERGÊNCIA (11) 5012-5211 / 5011-5111 OU 0800-148110<br />
                                    &nbsp;&nbsp;<u>INSETICIDAS:</u> ANTIDOTOS, TRATAMENTO SINTOMPATICO E HISTAMINICOS.<br />
                                    RATICIDAS: ANTICOAGULANTES: VITAMINA K1 INJETÁVEL <SUB>(ANTIDO PARA USO MÉDICO)</SUB>
                                </p>
                            </strong>
                        </div>

                        <div id="produtosUsados" style="border: 1px solid; text-align: center" class="div_direita">
                            <br />
                            <strong>Processos Utilizados</strong><br /><br />
                            <label><input type="checkbox" /> Em liquido</label><br />
                            <label><input type="checkbox" /> Armadilha</label><br />
                            <label style="padding-right: 41px;"><input type="checkbox" /> Isca</label><br />
                            <label style="padding-right: 45px;"><input type="checkbox" /> Gel</label><br />
                            <label style="padding-right: 50px;"><input type="checkbox" /> Po</label>
                            <br /><br /><br /><br />

                        </div>
                        <div class="div_inforamções">

                            &nbsp; &nbsp; <input type="checkbox" /> CONTRATO &nbsp;   <input type="checkbox" /> AVULSO -&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; REALIZADO EM
                            <br /> <br />

                            <p>
                                OBJETIVO FOI: <input type="checkbox" value="DESINSETIZAÇÃO" /> &nbsp; <label>Desinsetização</label>
                                <input type="checkbox" class="tipoLaudo" value="DESCUPINIZAÇÃO" /> &nbsp; <label>Descupinização</label>
                                <input type="checkbox" class="tipoLaudo" value="DESRATIZAÇÃO" /> &nbsp; <label>Desratização</label>
                                <input type="checkbox" class="tipoLaudo" value="LAV. DE CAIXA D' ÁGUA" /> &nbsp; <label>Lav. De Caixa D' Água</label>
                            </p>

                            <strong><p><u>FORMULAÇÃO NA APLICAÇÃO RESIDUAL</u></p></strong>
                            <strong><p><u>TÉCNICA :</u></p> </strong>

                            <p><strong><u>BICOS UTILIZADOS</u></strong></p>

                            <div id="divMontarProdutos"></div>
                            <table style="width: 100%; line-height: 10px;">
                                <tr>
                                    <td><strong>Produtos</strong></td>
                                    <td><strong>QDT. DE PORDUTO POR 10 LT.DILUENTE</strong></td>
                                    <td><strong>DILUENTE ÁGUA</strong></td>
                                    <td><strong>TOTAL DA ÁREA TRATA</strong></td>

                                </tr>
                                <tr id="adicionar"></tr>

                            </table>
                            <br/><br/>
                            <div class="div_carimboEsquerda">
                                <img src="~/Content/img/Capturar.JPG" />
                            </div>
                            <div class="div_assinaturaDireita">
                                <br/> <br/>
                                <p style="text-align: center">___________________________________<br/>
                                    Técnico Responsavel<br/>
                                    Nome:_________________________<br/>
                                    Tel.:_________________________
                                </p>
                            </div>
                           <label style="color: red">  Vencimento em :  </label> <input type="date"/>

                          
                        </div>
                        <br />
                    </div>
                }

            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

<script>

    $('#listaClientes').on('change',
        function () {
            //texto += $(this).text();
            //console.log(texto);
            // alert(this.value);
            buscaClienteEndereco(this.value);
        });

    function buscaClienteEndereco(clienteId) {

        $.ajax({
            dataType: "json",
            type: "GET",
            url: "/Clientes/BuscaCliente/" + clienteId,
            success: function (dados) {
                console.log(dados);
                console.log(dados.Clientes.Nome, "este");
                $("#dadosPessoais").html("  <table style='width:100%;line-height: 10px;'>" +
                    " <tr>" +
                    "<td colspan='3'><strong>Cliente:</strong> " +
                    dados.Clientes.Nome +
                    "</td>" +
                    " </tr>" +
                    "<tr>" +
                    " <td colspan='3'><strong>End: </strong>" +
                    dados.Logradouro +
                    " </td>" +
                    " </tr>" +
                    " <tr>" +
                    " <td><strong>Bairro:</strong> " +
                    dados.Bairro +
                    "</td>" +
                    "  <td><strong>Cep: </strong>"+dados.Cep+"</td>" +
                    "<td>    </td>" +
                    "</tr>" +
                    " <tr>" +
                    " <td><strong>CNPJ:</strong> " +
                    dados.Clientes.CpfCnpj +
                    "</td>" +
                    " <td></td>" +
                    " <td><strong>TEL:</strong> " +
                    dados.Clientes.Celular +
                    "   </td>" +
                    " </tr>" +
                    " </table>");
            }

        });
    }

    function adiciona(resposta) {
        alert(reposta);
    }

    $(document).ready(function () {
        $('.tipoLaudo').click(clicado);

        function clicado(e) {

            var clicados = $('input:checked');
            var mostra = this.value;

            $('#colocaTipoLaudo').html("<strong><label><u> LAUDO TÉCNICO - "+mostra+" </u></label></strong>");
        };


    });

    $(document).ready(function () {
        $('.adicionarProdutos').click(selecionado);

        var arrayProdutos = [];
        function selecionado(e) {
            //alert("teste");

            var name = this.checked;

            var escolhidos = $('input:checked');
            var mostrarProdutos;

            if (name) {

                if (escolhidos.length > 0) {

                    mostrarProdutos = this.value;
                    arrayProdutos.push(mostrarProdutos);


                    $(
                        "<tr class='removeTR'>" +
                        " <td>" + mostrarProdutos + "</td>" +
                        " <td><input type='text'> </td>" +
                        " <td><input type='text'> </td>" +
                        " <td><input type='text'> </td>" +
                        "</tr>"
                    ).insertBefore("#adicionar");
                }

            } else {
                var valorExcluido = this.value;
                var index = arrayProdutos.indexOf(valorExcluido);

                if (index > -1) {
                    arrayProdutos.splice(index, 1);
                }

                $('.removeTR').remove();
                for (var x = 0; x < escolhidos.length; x++) {
                    $(
                        "<tr class='removeTR'>" +
                        " <td>" + arrayProdutos[x] + "</td>" +
                        " <td><input type='text'> </td>" +
                        " <td><input type='text'> </td>" +
                        " <td><input type='text'> </td>" +
                        "</tr>"
                    ).insertBefore("#adicionar");
                }


            }
        }

    });

</script>
<script src="~/Content/js/jquery.mask.min.js"></script>
<script src="~/Content/js/mascaras.js"></script>

