
@model System.Web.Mvc.HandleErrorInfo
<h1 class="text-danger">Controller.@Model.ControllerName</h1>
<h1 class="text-danger">Action.@Model.ActionName</h1>
<h1 class="text-danger">Exception.@Model.Exception.GetType().FullName</h1>

<h1 class="text-danger">Error.@Model.Exception.Message</h1>

<br/>
<br />

<h2 class="text-info">Entra em contato com o Administrador do Sitema</h2>

<button onload="myFunction('Error.@Model.Exception.Message, Controller.@Model.ControllerName, Action.@Model.ActionName,Exception.@Model.Exception.GetType().FullName')">Click me</button>
<script>
    
        console.log(Error.@Model.Exception.Message);
    


</script>
