@model ProjetoFlavio.Models.Cliente


<div class="page-title">
    <div class="title_left">
        <h3>Cadastro de Cliente</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Dados Cadastrais <small>different form elements</small></h2>
            
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
               
                    @using (Html.BeginForm("Salvar", "Clientes", FormMethod.Post, new { @class = "form-horizontal form-label-left", id= "demo-form2" }))
                    {
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nome">
                            Nome Completo <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nome Completo" } } )
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger"})
                        </div>                       
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cpfCnpj">
                            CPF / CNPJ <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" id="cpfCnpj" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Email <span style="color: red" class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="email" name="last-name"  class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="celular">
                            Celular <span style="color: red" class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" id="celular" name="last-name" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="logradouro" class="control-label col-md-3 col-sm-3 col-xs-12">
                        Logradouro</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="logradouro" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="logradouro" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Bairro
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="logradouro" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="logradouro" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Cep
                        </label>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <input id="logradouro" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
                        <div class="col-md-1 col-sm-6 col-xs-12">
                            <input id="logradouro" class="form-control col-md-2 col-xs-5" type="text" name="middle-name">
                        </div>

                        <label class="control-label col-md-1 col-sm-3 col-xs-12">Cidade</label>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <input id="logradouro" class="form-control col-md-4 col-xs-12" type="text" name="middle-name">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="button">Cancelar</button>
                            <button class="btn btn-primary" type="reset">Limpar Campos</button>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                    }
                
            </div>
        </div>
    </div>
</div>

